*{
    padding: 50;
    margin: 10;
}
.header_item{
    display: inline-block;
    width: 100px;
    height: 100;
    border: 1px solid orange;
    text-align: center;
    line-height: 100px;
    border-radius: 75%;
    margin: 5px 50px;
}
#item-one{
    background-color: red;
}
#item-two{
    background-color: green;

}
#item-three{
    background-color: greenyellow;
}
body{
    background-color: grey;
}
section{
    padding: 10;
    margin: 5;
}
image{
    width: 200px;
}